.wrapper-tire{
    display: block;
    width: 100%;

    border-right: solid black 1px;
    transition: all 1s ease;

}
.wrapper-tire{
    margin: 0 auto 0 auto;
}
.active{
    border-right: solid #E0E0E0 1.5px;
    transition: all 1s ease;

}
.title{
    margin-bottom: 1.5%;
}